# Intro to Python Basics

# python was created in 1990 by Guido van Rossum in Holland. Python is a interpreted language

In [5]:
2 + 2

4

In [6]:
print('Second Program')

Second Program

## 1.Print Syntax

In [7]:
print("mohan")

mohan

In [8]:
print('mohan')

mohan

# 2.Indentation

In [18]:
def my_function():
   print('First Command')

print(my_function())

First Command
None

# 3.Case sensitivity and variables

In [21]:
name = 'Mohan'
Name = 'mohan'

print(name)
print(Name)

Mohan
mohan

# 4.Comments

In [26]:
# this fuction prints something
def my_function():              # this is a function definition
    return 'First Commmand'     # this is a return statement

print(my_function())            # this is a function call within a print statement

First Commmand

# 5. Variables

In [31]:
name = 'mohan' # creating is also known as declaring the variaable
age = 26

print(name)
print(age)

name = 3000    # you can also re-declare a variable just by changing its value.

print(name)

mohan
26
3000

# 6.Type

In [43]:
my_bool = True               # boolean
print(type(my_bool))

my_int = 1234                # int
print(type(my_int))

my_float = 123.235           # float
print(type(my_float))

my_complex_number = 32-4j    # complex number
print(type(my_complex_number))

my_str_1 = 'string 1'
my_str_2 = str('string 2')   # string
print(type(my_str_1))
print(type(my_str_2))

word1 = 'Tamil'               
word2 = ' Nadu'               # string concat
print(word1 + word2)


print(len('New York'),'<-- Length of the string')

<class 'bool'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'str'>
Tamil Nadu
8 <-- Length of the string

# 7.Replace the Characters

In [47]:
# Replace
print('Tamil Nadu, Chennai'.replace('Chennai','Coimbatore')) 

# toUpper
print('tamil Nadu, Annur'.upper())

# toLower
print('TaMiL NaDU, Annur'.lower())

Tamil Nadu, Coimbatore
TAMIL NADU, ANNUR
tamil nadu, annur

# 8.Lists

In [34]:
my_list = ["bmw","audi","benz"]
print(type(my_list))
print(my_list)

###################################################################
print("\n----------------------------------------------------------\n")


people = []                      # empty lists
print(people)

people = ['mohan','john']        # initial values
print(people)

people.append('Saran')           # adding in lists
print(people)

people.insert(2,'Johnson')       # insert print(people)
print(people)

###################################################################
print("\n----------------------------------------------------------\n")


## updating the lists

people = ['bob','mary']
people[1] = 'saran'
print(people)


## deleting

people.remove('bob')
print(people)

## clear everything
people.clear()
print(people)

<class 'list'>
['bmw', 'audi', 'benz']

----------------------------------------------------------

[]
['mohan', 'john']
['mohan', 'john', 'Saran']
['mohan', 'john', 'Johnson', 'Saran']

----------------------------------------------------------

['bob', 'saran']
['saran']
[]

# 9.Tuples

In [45]:
my_tuples = ('bmw','audi','benz')
print(my_tuples)


###################################################################
print("\n----------------------------------------------------------\n")

people = ()              # empty tuple
print(people)


people = ('bob','mary')# initial values
print(people)

people = ('bob','mary')
# people[2] = 'Sarah'     
# adding in tuple in not possible 
# since they are immutable



# to add in tuple you must change tuple to list
people_list = list(people)
people_list[1] = 'Sarah'
people = tuple(people_list)
print(people)

('bmw', 'audi', 'benz')

----------------------------------------------------------

()
('bob', 'mary')
('bob', 'Sarah')

# 10.Sets

In [53]:
my_set = {'bmw','audi','benz'}
print(type(my_set))
print(my_set)

people = set()                   # empty set
print(people)

people = {'bob','mary'}          # initialization
print(people)

people.add('sarah')              # add
print(people)

people.update(['carol','susan']) # update
print(people)

people.remove('bob')             # delete
print(people)

people.clear()                   # clear
print(people)

<class 'set'>
{'audi', 'benz', 'bmw'}
set()
{'bob', 'mary'}
{'bob', 'sarah', 'mary'}
{'susan', 'carol', 'sarah', 'bob', 'mary'}
{'susan', 'carol', 'sarah', 'mary'}
set()

# 11.Dictionaries

In [61]:
my_dict = {"country" : "frances",
           "worldcup": 2 }
print(type(my_dict))
print(my_dict.values())


people = {}                     # empty dict
print(people)

people = {'bob':30, 'mary':25}  # initial values
print(people)

people['Sarah'] = 32            # adding key & values
print(people)


people['bob'] = 28              # updating
print(people)

print(people['bob'])            # retrievind in dict


people.pop('bob')               # deleting
print(people)

people.clear()                  # clear

<class 'dict'>
dict_values(['frances', 2])
{}
{'bob': 30, 'mary': 25}
{'bob': 30, 'mary': 25, 'Sarah': 32}
{'bob': 28, 'mary': 25, 'Sarah': 32}
28
{'mary': 25, 'Sarah': 32}

# 12.Type casting

# Explicit conversion

In [60]:
#######################
### String TYPE CAST ##
#######################
str1 = str('32')
print(str1)

str1 = str(32)
print(str1)

str1 = str(32.000)
print(str1)

print('\n')

######################
### Int TYPE CAST ####
######################
int1 = int('2222')
print(int1)

int1 = int(22.22)
print(int1)

int1 = int(2222)
print(int1)

32
32
32.0


2222
22
2222

# Implicit conversion

In [63]:
# int and float can be casted 

my_int = 10
my_float = 2.5

print(my_int + my_float)


print(type(my_int + my_float))

12.5
<class 'float'>

In [67]:
# int and string cannot be casted 

my_int = 10
my_str = '2.5'

print(my_int + my_str)


print(type(my_int + my_str))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# 13.User Input

In [70]:
country = input('what is your country?')

print(country)

print('\n')

age = input ("How old are You ?")
print(age)
print(type(age))

age = int(age)

print(type(age))

what is your country?India
India


How old are You ?26
26
<class 'str'>
<class 'int'>

# 14.Operators

In [75]:
print('Add :', 5 + 2)
print('SUb :', 5 + 2)
print('Mul :', 5 * 2)
print('Div :', 5 / 2)
print('Floor Division :', 5 // 2)
print('Exponentiation :', 5 ** 2)
print('Modulus        :', 5 %  2)

Add : 7
SUb : 7
Mul : 10
Div : 2.5
Floor Division : 2
Exponentiation : 25
Modulus        : 1

# 15.Concatentation

In [78]:
first_name = 'Mohana'
last_name = 'krishnan'

print(first_name + last_name)

Mohanakrishnan

# 16.Comaparison

In [85]:
print(5 == 2)
print(5 != 2)
print(5 > 2)
print(5 < 2)
print(5 >= 2)
print(5 <=2)

False
True
True
False
True
False

# 17.Assignment Operators

In [94]:
x = 7
print(x)

x += 7
print(x)

x -= 2
print(x)

x *= 7
print(x)


x /= 7
print(x)


x = 10
x %= 2
print(x)

x //= 2
print(x)

x **= 7
print(x)

7
14
12
84
12.0
0
0
0

# 18.Logical Operators

In [7]:
x = 4 
y = 2

print(x <= 5 and y <= 3)

print(x == 5 or y >3)

print(not(x == 5))

True
False
True

# 19.Membership Operators

In [9]:
num = [1,2,3,4,5,6,7,8]

print(10 in num)
print(1 in num)
print(5 not in num)

False
True
False

# 20.Coditional

# >>>if

In [11]:
bob = 32
sarah = 29

if bob > sarah:
    print("Bob is older than Sarah")

Bob is older than Sarah

# >>>if else and elif

In [13]:
bob = 32
sarah = 29

if bob > sarah:
    print("Bob is older than Sarah")
else:
    print("Bob is younger than Sarah")
    
    
bob_age = 32
sarah_age = 32

if bob_age > sarah_age:
    print('Bob is older than Sarah')
elif bob_age == sarah_age:
    print('Bob and Sarah have the same age')
else:
    print('Bob is younger than Sarah')

Bob is older than Sarah
Bob and Sarah have the same age

# >>>Nested conditional

In [16]:
bob = 32 
sarah = 26
mary = 25

if bob > sarah:
    print('bob is older than Sarah')
    if bob > mary:
        print('Bob is the oldest')
        
if bob > sarah and bob > mary:
    print('Bob is oldest')
    

if bob > sarah > mary:
    print("bob is oldest")

bob is older than Sarah
Bob is the oldest
Bob is oldest
bob is oldest

# >>>Ternary operators

In [18]:
a = 25
b = 50 
x = 0
y = 1


result = x if a > b else y

print (result)

1

# 21.While loop

In [62]:
# while loop 
number = 1
while number <= 5:
    print(number, 'squared is', number**2)
    number = number + 1

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25

In [63]:
# else in while loop
number = 1
while number <= 5:
    print(number, 'squared is', number**2)
    number = number + 1
else:
    print('No number left')

1 squared is 1
2 squared is 4
3 squared is 9
4 squared is 16
5 squared is 25
No number left

In [64]:
# break 
number = 1
while number <= 5:
    print(number, 'squared is', number**2)
    number = number + 1
    if number == 4:
        break

1 squared is 1
2 squared is 4
3 squared is 9

In [68]:
# continue
number = 1
while number <= 5:
    number = number + 1
    if number == 2:
        continue
    print(number, 'squared is', number**2)

3 squared is 9
4 squared is 16
5 squared is 25
6 squared is 36

# 22.for loop

In [73]:
i = 0
for i in range(10):
    print(i)

print("\n")
    
cars = ['bmw','benz','audi']
for car in cars:
    print(car)

0
1
2
3
4
5
6
7
8
9


bmw
benz
audi

In [74]:
for i in range(5,10):       # range (start , stop)
    print(i)

5
6
7
8
9

In [76]:
for i in range(10, 20, 3): # range (start, stop, increment)
    print(i)

10
13
16
19

In [77]:
# else , break, continue are same as while loop

# 22.Functions

In [5]:
def print_function():
    print('My first function!')

print_function()

My first function!

In [4]:
def print_function():             # return function
    return 'My first function!'

print(print_function())

My first fuction!

In [7]:
def return_number():              # return numbers
    return 10,2

print(return_number())

(10, 2)

In [8]:
def my_number(my_number = 30):   # return default values
    return 'My number is: ' + str(my_number)

print(my_number(10))
print(my_number())

My number is: 10
My number is: 30

In [10]:
def my_numbers(*args):          # any number of argument     
    for arg in args:
        print(arg)

my_numbers(10,2,3)

10
2
3

# Example 1: calcutating the cube of a number

In [12]:
# regular method
num = [1,2,3,4,5]
new_list = []

for n in num:
    new_list.append(n**3)
print(new_list)

[1, 8, 27, 64, 125]

In [1]:
# list comprehensions
numbers = [1,2,3,4,5]
new_list = []

new_list = [n**3 for n in numbers]

print(new_list,"\n")


#------------------------
celsius = [39.2, 36.5, 37.3, 37.8]
fahrenheit = [ ( (float(9)/5) * x + 32) for x in celsius ]
print(fahrenheit)

[1, 8, 27, 64, 125]

NameError: name 'fahrenheit' is not defined

# Example 2:calculating the cube of a number only if it is greater than 3

In [18]:
# Regular way

number = [1,2,3,4,5]
new_list = []

for n in numbers:
    if(n > 3):
        new_list.append(n**3)
        
print(new_list)

[64, 125]

In [20]:
# list comprehensions

numbers = [1,2,3,4,5]
new_list = []
new_list = [n**3 for n in numbers if n > 3]
print(new_list)

[64, 125]

# 23.Module

In [27]:
import math as m
 

m.sqrt(121)
m.sqrt(64)

8.0

In [32]:
from math import floor
floor(9.8923)

9